<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="tdm.romkeeper"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- uses-permission android:name="android.permission.REBOOT" / -->
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="RomKeeperActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="RomKeeperPreferenceActivity"
                  android:label="@string/app_name">
        </activity>
        <service android:name=".FileDownloadService"
                 android:label="@string/file_download_service_name">
        </service>
        <service android:name=".ManifestCheckerService"
                 android:label="@string/manifest_checker_service_name">
        </service>
        <receiver android:name=".StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest> 
